<a href="https://colab.research.google.com/github/YaelGarciaPartida/MineriaDeDatos/blob/main/Ej_Python_1797297.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ejercicio 1

In [ ]:
##Ejercicio 1
a= "Yael Alejandro Garcia Partida"
b= 1797927
print(a,b)

#Ejemplos parte 1

In [ ]:
a=10
b=54
c=a+b**2
print(a,b,c)

10 54 2926

In [ ]:
##input del usuario
a1= int(input("Introduce un numero: "))
b1= int(input("Introduce otro numero:"))
print ("Primer numero: ",a1)
print("segundo numero: ",b1)

Introduce un numero: 10
Introduce otro numero:20
Primer numero:  10
segundo numero:  20

#Ejercicio 2

In [ ]:
##EJERCICIO 2
a1= int(input("Introduce un numero: "))
b1= int(input("Introduce otro numero:"))
print ("La suma es : ",a1+b1)
print ("La resta es: ",a1-b1)
print ("La multiplicacion es : ",a1*b1)
print ("La division es: ",a1/b1)
print ("El exponente es: ",a1**b1)

Introduce un numero: 2
Introduce otro numero:2
La suma es :  4
La resta es:  0
La multiplicacion es :  4
La division es:  1.0
El exponente es:  4

#Ejemplos parte 2

In [ ]:
##loop de while
i=1
while i<=10:
  print (i)
  i=i+1

#i=+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
##función de range
print ("range(10) --> ", list(range(10)))
print ("range(0,20) --> ", list(range(0,20)))
print ("range(10,20) --> ", list(range(10,20)))
print ("range(0,20,2) --> ", list(range(0,20,2)))
print ("range(-10,-20,2) --> ", list(range(-10,-20,2)))
print ("range(-10,-20,-2) --> ", list(range(-10,-20,-2)))

range(10) -->  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(0,20) -->  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
range(10,20) -->  [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
range(0,20,2) -->  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
range(-10,-20,2) -->  []
range(-10,-20,-2) -->  [-10, -12, -14, -16, -18]

In [ ]:
##Range en loop de for
for i in range(0,10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,11):
    print (5," * ", i , " = ", i * 5)

5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50

#Ejercicio 3

In [27]:
##Ejercicio 3
i=0
lista=[]
while i<10:
    numero= int(input("Ingrese un numero multiplo de 3: ")) 
    if numero%3 == 0:
        lista.append(numero)
        i=i+1
    else :print("No es multiplo de 3")

print("los numeros ingresados fueron: ",lista)

sumatoria=0
for num in lista: 
    sumatoria += num

print("la suma de los numeros es: ",sumatoria)

Ingrese un numero multiplo de 3: 2
No es multiplo de 3
Ingrese un numero multiplo de 3: 3
Ingrese un numero multiplo de 3: 6
Ingrese un numero multiplo de 3: 9
Ingrese un numero multiplo de 3: 12
Ingrese un numero multiplo de 3: 15
Ingrese un numero multiplo de 3: 18
Ingrese un numero multiplo de 3: 24
Ingrese un numero multiplo de 3: 21
Ingrese un numero multiplo de 3: 27
Ingrese un numero multiplo de 3: 30
los numeros ingresados fueron:  [3, 6, 9, 12, 15, 18, 24, 21, 27, 30]
la suma de los numeros es:  165

#Ejemplo parte 3

In [ ]:

a = int(input("Introduce primer número: "))
b = int(input("Introduce segundo número: "))
if  a > b: 
    print (a," > ",b)
else:
    print (a," < ",b)

Introduce primer número: 32
Introduce segundo número: 56
32  <  56

#Ejercicio 4

In [21]:
##Ejercicio 4 parte 1
a = int(input("Introduce número: "))
if a % 2 == 0:
    print("El número", a, "es par.")
else:
    print("El número", a, "es impar.")

Introduce número: 5
El número 5 es impar.

In [26]:
##Ejercicio 4 parte 2
numero= int(input("¿Qué número quieres saber si es primo? "))
valor= range(2,numero)
contador = 0
for n in valor:
  if numero % n == 0:
    contador +=1
    print("divisor:", n)

if contador > 0 :
  print("El número no es primo" )
else:
  print("El nÚmero es primo")
  ##https://unipython.com/ejemplo-numeros-primos/

¿Qué número quieres saber si es primo? 8
divisor: 2
divisor: 4
El número no es primo

#Ejemplo parte 4

In [25]:
##Uso de funciones en python
def Suma(a,b):
    c=a+b
    return c

print ("Suma(10,20) -->", Suma(10,20))
print ("Suma(20,50) -->", Suma(20,-50)) 
print ("Suma(80,200) -->", Suma(80,20.7))

Suma(10,20) --> 30
Suma(20,50) --> -30
Suma(80,200) --> 100.7

#Ejercicio 5

In [ ]:
##Ejercio 5
class funciones:
    def suma(a,b):
        return a + b
    def resta(a,b):
        return a-b
    def multi(a,b):
        return a * b
    def división(a,b):
        while b>0:
            return a/b
        else: b= int(input("Ingrese un valor mayor a 0: "))
    def exp(a,b):
        return a ** b

In [ ]:
##Ejercicio 5
import funciones

print("Ingrese 2 números: ")
a=int(input("Primer número: "))
b=int(input("Segundo número: "))

print("Elige la operación.")

print("1.Suma")
print("2.Resta")
print("3.Multiplicación")
print("4.División")
print("5.Exponentes")

while True:
    opc = input("Ingresa la opcion (1|2|3|4|5): ")
    if opc in ('1','2','3','4','5'):
        num1 = float(input("Ingresa el primer numero: "))
        num2 = float(input("Ingresa el segundo numero: "))

        if opc =='1':
            print(num1, "+", num2, "=", funciones.suma(num1,num2))

        elif opc == '2':
            print(num1, "-", num2, "=", funciones.resta(num1, num2))
        
        elif opc == '3':
            print(num1, "*", num2, "=", funciones.multi(num1, num2))

        elif opc == '4':
            print(num1, "/", num2, "=", funciones.div(num1, num2))
        elif opc == '5':
            print(num1, "**", num2, "=", funciones.exp(num1,num2))
        
        else: print("opcion inválida")

#Ejemplos parte 5

In [28]:
##Funciones matemáticas en la librería de math en python
import math as m

print ("Función exponencial --> ", m.exp(-200))  
print ("Log --> ", m.log(100,2)) # Log
print ("Log  --> ", m.log(100,10))# Log
print ("Log 10 --> ", m.log10(100)) # Log 10
print ("Coseno --> ", m.cos(30))    # cos
print ("Seno --> ", m.sin(30))    # sin
print ("Tangente --> ", m.tan(30))    # tan
print ("Raiz cuadrada --> ", m.sqrt(324)) #Raiz
print ("Valor techo --> ", m.ceil(89.9)) #Valor techo
print ("Valor piso --> ", m.floor(89.9)) #Valor piso

Función exponencial -->  1.3838965267367376e-87
Log -->  6.643856189774725
Log  -->  2.0
Log 10 -->  2.0
Coseno -->  0.15425144988758405
Seno -->  -0.9880316240928618
Tangente -->  -6.405331196646276
Raiz cuadrada -->  18.0
Valor techo -->  90
Valor piso -->  89

In [29]:
##Como utilizar variables de string como listas para buscar elementos:

var1 = 'Hola mundo!'
var2 = "Programas de python"
 
print ("var1 --> ", var1)
print ("var2 --> ",var2)
print ("var1[0] --> ", var1[0])
print ("var2[1:5] --> ", var2[1:5])
print ("var2[:-5] --> ", var2[:-5])

var1 -->  Hola mundo!
var2 -->  Programas de python
var1[0] -->  H
var2[1:5] -->  rogr
var2[:-5] -->  Programas de p

In [30]:
var1 = 'Hola mundo!'
var2 = "Programas de python"

print ("var1 --> ", var1)
print ("var2 --> ",var2)

print ("\nTamaño de var1 --> : ", len(var1))
print ("Tamaño de var2 --> : ", len(var2))

print ("\nUppercase para var1 --> : ", var1.upper())
print ("Upper case para var2 --> : ", var2.upper())

print ("\nLower case para var1 --> : ", var1.lower())
print ("Lower case para var2 --> : ", var2.lower())

var1 -->  Hola mundo!
var2 -->  Programas de python

Tamaño de var1 --> :  11
Tamaño de var2 --> :  19

Uppercase para var1 --> :  HOLA MUNDO!
Upper case para var2 --> :  PROGRAMAS DE PYTHON

Lower case para var1 --> :  hola mundo!
Lower case para var2 --> :  programas de python

In [31]:
##Con input del usuario, revisar como introducir valores de numeros, letras y flotantes dentro de un print:
name=input("Introduce tu nombre: ")
age=int(input("Introduce tu edad: "))
price=float(input("Precio de tu item: "))
s="Tu nombre es %s, edad es %d y el precio de tu item es %f" %(name.upper(),age,price)
print (s)

Introduce tu nombre: Yael
Introduce tu edad: 21
Precio de tu item: 50
Tu nombre es YAEL, edad es 21 y el precio de tu item es 50.000000

In [32]:
##Introducción para el manejo de errores en Python
for i in range(-5,6):
    print ("100/",i," --> ", 100/i)

100/ -5  -->  -20.0
100/ -4  -->  -25.0
100/ -3  -->  -33.333333333333336
100/ -2  -->  -50.0
100/ -1  -->  -100.0

ZeroDivisionError: ignored

In [33]:
for i in range(-5,6):
    try:
        print ("100/",i," --> ", 100/i)
    except:
        print ("error")

100/ -5  -->  -20.0
100/ -4  -->  -25.0
100/ -3  -->  -33.333333333333336
100/ -2  -->  -50.0
100/ -1  -->  -100.0
error
100/ 1  -->  100.0
100/ 2  -->  50.0
100/ 3  -->  33.333333333333336
100/ 4  -->  25.0
100/ 5  -->  20.0

In [34]:
archivo=input("Introduce el nombre del archivo: ")
fp=open(archivo)
fp.close()
print ("Terminado")

Introduce el nombre del archivo: tarea1

FileNotFoundError: ignored

In [35]:
rchivo=input("Introduce el nombre del archivo: ")
try:
    fp=open(archivo)
    fp.close()
except:
    print ("Error !! Archivo no encontrado")

print ("Terminado")

Introduce el nombre del archivo: tarea1
Error !! Archivo no encontrado
Terminado

In [36]:

lista1 = [1,2,3,4,5]

for i in range(8):
    try:
        print (i," --> ", lista1[i])
    except:
        print ("error")

    
len(lista1)

0  -->  1
1  -->  2
2  -->  3
3  -->  4
4  -->  5
error
error
error

5

In [37]:
lista1 = [1, 2, 3, 4, 5, 6, 7]

for i in range(len(lista1)):
    try:
        print(i, "-->", lista1[i])
    except:
        print("Error")

0 --> 1
1 --> 2
2 --> 3
3 --> 4
4 --> 5
5 --> 6
6 --> 7

In [38]:
##Creación de numeros aleatorios en Python
import random as r
print (r.random())
print (r.randint(1, 100))
print (r.uniform(1, 100))

A=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print (r.sample(A, 4))

0.2533279490821363
63
1.6810454209682546
[5, 6, 3, 7]